.underlineEffects ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: table;
    text-align: center;
}

.underlineEffects li {
    display: table-cell;
    position: relative;
    padding: 10px 0;
}

.underlineEffects a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

.underlineEffects a:hover {
    color: rgb(154, 210, 255);
}

.underlineEffects a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.5s ease 0s, left 0.5s ease 0s;
    width: 0;
}

.underlineEffects a:hover:after {
    width: 100%;
    left: 0;
}

@media screen and (max-width: 650px) {
    .underlineEffects li {
        display: table-row;
    }
}

.wrapper {
    display: grid;
    margin: 50px auto;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

@media (max-width: 1199px) {
    .wrapper {
        margin: 50px auto;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
}

.wrapper .box {
    width: 350px;
    margin: auto auto;
    position: relative;
    perspective: 1000px;
}

@media (max-width: 1199px) {
    .wrapper .box {
        width: 100%;
    }
}

.wrapper .box .front-face {
    background: #fff;
    height: 220px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.7);
    transition: all 0.5s ease;
}

.box .front-face .icon {
    height: 80px;
}

.box .front-face .icon i {
    font-size: 65px;
}

.box .front-face span,
.box .back-face span {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

.box .front-face .icon i,
.box .front-face span {
    background: linear-gradient(-225deg, rgb(34, 225, 255) 0%, rgb(29, 143, 225) 48%, rgb(85, 76, 243) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box .back-face {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 220px;
    width: 100%;
    padding: 30px;
    color: #fff;
    opacity: 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    background: linear-gradient(-225deg, rgb(34, 225, 255) 0%, rgb(29, 143, 225) 48%, rgb(85, 76, 243) 100%);
    transform: translateY(110px) rotateX(-90deg);
    box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
    transition: all 0.5s ease;
}

.box .back-face p {
    margin-top: 10px;
    text-align: justify;
}

.box:hover .back-face {
    opacity: 1;
    transform: rotateX(0deg);
}

.box:hover .front-face {
    opacity: 0;
    transform: translateY(-110px) rotateX(90deg);
}