body {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

.banner-image1 {
    background-image: linear-gradient(to top, rgba(12, 52, 131, 0.507) 0%, rgba(102, 153, 255, 0.507) 100%, rgb(107, 140, 206, 0.507) 100%, rgb(162, 182, 223, 0.507) 100%), url('../Img/fondo5.jpg');
    ;
    background-size: cover;
    background-attachment: fixed;
}

.banner-image2 {
    background-image: linear-gradient(to top, rgba(12, 52, 131, 0.507) 0%, rgb(162, 182, 223, 0.507) 100%, rgb(107, 140, 206, 0.507) 100%, rgb(162, 182, 223, 0.507) 100%), url('../Img/fondo2.jpg');
    ;
    background-size: cover;
    background-attachment: fixed;
}

.banner-image3 {
    background-image: linear-gradient(to top, rgba(12, 52, 131, 0.507) 0%, rgba(63, 111, 207, 0.507) 100%, rgb(107, 140, 206, 0.507) 100%, rgb(162, 182, 223, 0.507) 100%), url('../Img/fondo6.jpg');
    ;
    background-size: cover;
    background-attachment: fixed;
}

.banner-image4 {
    background-image: linear-gradient(to top, rgba(17, 72, 180, 0.507) 0%, rgba(71, 110, 189, 0.507) 100%, rgb(107, 140, 206, 0.507) 100%, rgb(162, 182, 223, 0.507) 100%), url('../Img/fondo7.jpg');
    ;
    background-size: cover;
    background-attachment: fixed;
}

.banner-image5 {
    background-image: linear-gradient(to top, rgba(12, 52, 131, 0.507) 0%, rgba(102, 153, 255, 0.507) 100%, rgb(107, 140, 206, 0.507) 100%, rgb(162, 182, 223, 0.507) 100%), url('../Img/fondo4.jpg');
    ;
    background-size: cover;
    background-attachment: fixed;
}

.banner-image6 {
    background-image: linear-gradient(to top, rgba(12, 77, 207, 0.664) 0%, rgba(0, 75, 226, 0.562) 100%, rgb(107, 140, 206, 0.507) 100%, rgba(61, 97, 168, 0.822) 100%), url('../Img/fondo8.webp');
    ;
    background-size: cover;
    background-attachment: fixed;
}

.mapa {
    width: 100%;
    height: 350px;
    border: 0;
}

.rara {
    background-image: linear-gradient(-225deg, rgb(34, 225, 255) 0%, rgb(29, 143, 225) 48%, rgb(85, 76, 243) 100%);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.sombraL {
    text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.288);
}

.sombraB {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.288);
    background-image: linear-gradient(-225deg, rgb(98, 91, 235) 0%, rgb(29, 143, 225) 48%, rgb(34, 225, 255) 100%);
}

.sombraB3 {
    background-image: linear-gradient(-225deg, rgb(98, 91, 235) 0%, rgb(29, 143, 225) 48%, rgb(34, 225, 255) 100%);
}

.sombraB2 {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.288);
    background-image: linear-gradient(-225deg, rgb(69, 209, 209) 0%, rgb(29, 143, 225) 48%, rgb(85, 76, 243) 100%);
}

.sombraBEmergencias {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.288);
    background-image: linear-gradient(-225deg, rgb(255, 0, 0) 0%, rgb(211, 78, 78) 48%, rgb(199, 23, 67) 100%);
}

.sombraBWsp {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.288);
    background-image: linear-gradient(-225deg, rgb(21, 163, 40) 0%, rgb(31, 145, 20) 48%, rgb(46, 148, 60) 100%);
}

.sombraBTurnosOnline {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.288);
    background-image: linear-gradient(-225deg, rgb(51, 42, 221) 0%, rgb(29, 143, 225) 48%, rgb(49, 34, 255) 100%);
}

.sombraA4 {
    box-shadow: 0px 9px 30px rgba(42, 43, 43, 0.6)
}

.botoninicio {
    width: 80%;
    margin: auto;
}

footer {
    background-image: linear-gradient(-225deg, rgb(85, 76, 243) 0%, rgb(29, 143, 225) 48%, rgb(34, 225, 255) 100%);
}

.wave {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    margin-top: -65px;
}

.wave1 {
    position: absolute;
    bottom: 1;
    left: 0;
    width: 100%;
    height: 100px;
}

.wave2 {
    position: relative;
    bottom: 3;
    left: 0;
    width: 100%;
    height: 100px;
}

.wave3 {
    position: relative;
    bottom: 5;
    left: 0;
    width: 100%;
    height: 100px;
    margin-top: -65px;
}

.wave4 {
    position: relative;
    bottom: 7;
    left: 0;
    width: 100%;
    height: 100px;
    margin-top: -65px;
}

@media (max-width: 700px) {
    .rara {
        width: auto;
        height: auto;
    }
    .sombraB {
        box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.288);
    }
    .sombraL {
        text-shadow: 0px 10px 5px rgba(0, 0, 0, 0.288);
    }
    .sombraB2 {
        box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.288);
    }
}

.cardformulario {
    color: white;
    border-radius: 25px;
    background-image: linear-gradient(-225deg, rgba(93, 136, 255) 0%, rgb(29, 143, 225) 48%, rgb(34, 225, 255) 100%);
}

.cardformulario a {
    text-decoration: none;
}

.formConsulta {
    color: white;
    border-radius: 5%;
    background-image: linear-gradient(-225deg, rgb(76, 162, 243) 0%, rgb(29, 143, 225) 48%, rgb(34, 225, 255) 100%);
}

.tablacolor {
    background-image: linear-gradient(-225deg, rgb(76, 162, 243) 0%, rgb(29, 143, 225) 48%, rgb(34, 225, 255) 100%);
}

.mapaContacto {
    border-radius: 25px;
    margin: auto;
    width: 600px;
    height: 550px;
}

@media (max-width: 1400px) {
    .mapaContacto {
        width: 100%;
        height: 550px;
    }
}


/*IMAGENES DE PERFIL*/

.FotoPerfilAdmin {
    border-radius: 100%;
}

.redondo {
    border-radius: 50px;
}

.redondo a {
    border-radius: 50px;
    color: white;
}

.btnFace {
    width: 65%;
    background-image: linear-gradient(-225deg, rgb(20, 32, 199) 0%, rgb(9, 54, 255) 48%, rgb(23, 62, 146) 100%);
}

.btnIg {
    margin-top: 15px;
    width: 65%;
    background-image: linear-gradient(-225deg, rgb(255, 0, 200) 0%, rgb(173, 27, 161) 48%, rgb(113, 42, 141) 100%);
}

.btnWsp {
    margin-top: 15px;
    width: 65%;
    background-image: linear-gradient(-225deg, rgb(54, 230, 19) 0%, rgb(29, 156, 50) 48%, rgb(3, 129, 45) 100%);
}

.btnEmergencia {
    margin-top: 15px;
    width: 65%;
    background-image: linear-gradient(-225deg, rgb(255, 0, 0) 0%, rgb(211, 78, 78) 48%, rgb(199, 23, 67) 100%);
}