.ventana1{
       background-image: linear-gradient(to top, rgba(19, 32, 148, 0.807) 0%, rgba(26, 35, 158, 0.507) 100%, rgba(21, 95, 114, 0.507) 100%, rgba(49, 123, 235, 0.507) 100%),url('../Img/fondo6.jpg'); ;
       background-size: cover;
       background-attachment: fixed;
         color:white;
}   
.ventana2{
  background-image: linear-gradient(to top, rgba(14, 102, 22, 0.807) 0%, rgba(29, 173, 24, 0.363) 100%, rgba(21, 95, 114, 0.507) 100%, rgba(24, 158, 19, 0.507) 100%),url('../Img/ventanaWsp.jpg'); ;
  background-size: cover;
  background-attachment: fixed;
    color:white;
}   

.ventana3{
  background-image: linear-gradient(to top, rgba(117, 22, 22, 0.807) 0%, rgba(105, 18, 11, 0.507) 100%, rgba(70, 27, 27, 0.507) 100%, rgba(49, 123, 235, 0.507) 100%),url('../Img/ventanaEmer.jpg'); ;
  background-size: cover;
  background-attachment: fixed;
    color:white;
}   

