.ventana{
       background-image: linear-gradient(to top, rgba(19, 32, 148, 0.807) 0%, rgba(26, 35, 158, 0.507) 100%, rgba(21, 95, 114, 0.507) 100%, rgba(49, 123, 235, 0.507) 100%),url('../Img/fondo6.jpg'); ;
       background-size: cover;
       background-attachment: fixed;
         color:white;
}   

