/* Global Stylings */
label {
  display: block;
  margin-bottom: 0.5rem;
}

.ml-auto {
  margin-left: auto;
}

.text-center {
  text-align: center;
}

/* Progressbar */
.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 2rem 0 4rem;
}

.progressbar::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #dcdcdcf8;
  z-index: -1;
}

.progress {
  background-image: linear-gradient(-225deg, rgb(34, 225, 255) 0%, rgb(29, 143, 225) 48%, rgb(85, 76, 243) 100%);

  width: 0%;
  transition: 0.3s;
}

.progress-step {
  width: 2.1875rem;
  height: 2.1875rem;
  background-color: #dcdcdc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
}

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 0.85rem;

}

.progress-step-active {
  background-image: linear-gradient(-225deg, rgb(34, 225, 255) 0%, rgb(29, 143, 225) 48%, rgb(85, 76, 243) 100%);
  color: #f3f3f3;
}

/* Form */
.form {
  margin: 0 auto;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0.35rem;
  padding: 1.5rem;
}

.form-step {
  display: none;
  transform-origin: right;
  animation: animate 0.5s;
}

.form-step-active {
  display: block;
}

.input-group {
  margin: 2rem 0;
}

@keyframes animate {
  from {
    transform: scale(1, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

/* Button */
.btns-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.btnForm {
  padding: 0.75rem;
  display: block;
  text-decoration: none;
  background-image: linear-gradient(-225deg, rgb(34, 225, 255,0.4) 0%, rgb(29, 143, 225,0.4) 48%, rgb(34, 225, 255,0.4) 100%);
  color: #f3f3f3;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}
a:hover {
  color: rgb(154, 210, 255);
}

.margin-auto {
  color: #fff;
  background:rgba(201, 201, 201, 0.171);
  border-radius: 50px;
  display: flex;
}

.margin-autoChico {
  color: #fff;
  background:rgba(201, 201, 201, 0.171);
  border-radius: 50px;
}

.inputForm{
  color: #fff;
  background:rgba(201, 201, 201, 0.171);
}

.cardFormTurnos{
  border-radius: 50px;
  width: 15rem;
  background-image: linear-gradient(-225deg, rgb(34, 225, 255,0.5) 0%, rgb(29, 143, 225,0.5) 48%, rgb(85, 76, 243,0.5) 100%);
}