.contenedor {
    width: 100%;
    margin: 0 auto;
    background: rgb(240, 244, 247);
}

.container__card {
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-right: 40px;
    margin-top: 50px;
    perspective: 1000px;
    flex-wrap: wrap;
}

.card__father {
    perspective: 1000px;
}

.card__father:hover .card {
    transform: rotateY(180deg);
}

.card {
    width: 350px;
    height: 400px;
    position: relative;
    border-radius: 50px;
    transform-style: preserve-3d;
    transition: all 600ms;
    margin-right: -35px;
}

.card__front {
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    background-color: rgb(122, 174, 241);
}

.card__front,
.card__back {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50px;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 20px;
}

.body__card__front {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateZ(60px);
}

.card__back {
    transform: rotateY(180deg);
    background-color: rgb(230, 241, 255);
}

.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.body__card__back {
    padding: 30px;
    text-align: center;
    transform: translateZ(60px);
}

.body__card__back p {
    margin-top: 15px;
    font-size: 14px;
}

.card-1image {
    background-image: url('../Img/Tratamientos/ortodonciaImg.jpg');
    background-size: cover;
}

.card-image2 {
    background-image: url('../Img/Tratamientos/cirugiaImg.jpg');
    background-size: cover;
}

.card-image3 {
    background-image: url('../Img/Tratamientos/implanteImg.jpg');
    background-size: cover;
}

.card-image4 {
    background-image: url('../Img/Tratamientos/protesisImg.webp');
    background-size: cover;
}

.card-image5 {
    background-image: url('../Img/Tratamientos/endodonciaImg.jpg');
    background-size: cover;
}

.card-image6 {
    background-image: url('../Img/Tratamientos/estetigaImg.jpg');
    background-size: cover;
}